:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #root {
  max-width:1883px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav div input[type=text]{
  width:243px;
  height:20px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  background-color:#423737;
 }
 
 #root a img{
  z-index:0;
  position:relative;
  left:20px;
 }


 #root a .card{
  display:grid;
  width:250px;
  margin-right:0px;
  height:350px;
  margin-left:0px;
  margin-top:0px;
  padding-right:10px;
  margin-bottom:0px;
  padding-left:10px;
 }
 

 #root div p{
  margin-top:16px;
 }
 

 #root a button{
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  padding-bottom:0px;
  margin-left:15px;
  margin-right:15px;
  margin-top:15px;
  margin-bottom:15px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  display:inline-flex;
 }
 
 #root div .pagination{
  display:flex;
  transform:translatex(0px) translatey(0px);
  float:none;
  flex-wrap:nowrap;
  justify-content:space-around;
  margin-left:1px;
  align-items:normal;
 }
  */
